@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;

}


/* COMEÇA O HEADER */



header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .btn-menu {
    display: none;
}

header {
    background-color: #FDEEDC;
    color: #000000;
    width: 100%;
}

header img {
    width: 200px;
}



header li {
    display: inline;
    margin-left: 40px;

}

header li a {
    color: azure;
    text-decoration: none;
}

header ul,
footer ul {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}


/*FIM DO HEADER*/

/*DECORAÇÕES DOS BOTÕES*/

.button,
button {
    border-top: 1px solid #000000;
    background: #d2d665;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1ff00), to(#d2d665));
    background: -webkit-linear-gradient(top, #e1ff00, #d2d665);
    background: -moz-linear-gradient(top, #e1ff00, #d2d665);
    background: -ms-linear-gradient(top, #e1ff00, #d2d665);
    background: -o-linear-gradient(top, #e1ff00, #d2d665);
    padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    vertical-align: middle;
    width: 7rem;
}

.button:hover,
button:hover {
    border-top-color: #000000;
    background: #000000;
    color: #eeff00;
}

.button:active,
button:active {
    border-top-color: #ffffff;
    background: #ffffff;
}

/*FIM DA DECORAÇÕES DOS BOTÕES*/

#sobre .container,
.servicos-prestados .container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#sobre .container .conteudo ol {
    padding-bottom: 50px;
}

section .conteudo h2 {
    padding-bottom: 20px;
}


img {
    display: block;
    width: 100%;
    padding: 20px;
}

#contato {
    display: block;
    padding-bottom: 5px;
}

#contacts {
    background-color: antiquewhite;
    padding: 20px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contato .container h2 {
    margin-bottom: 10px;
}

form input,
textarea,
button,
label {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

form textarea {
    resize: none;
    width: 300px;
    height: 100px;
}

#contacts h2 {
    text-align: center;
}

#contacts .conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 140px;
}

/* COMEÇO DO FOOTER*/
footer {
    background-color: #E38B29;
    text-align: center;
    margin-top: auto;
    color: #ffffff;

}

footer a {
    text-decoration: none;
    color: #FDEEDC;

}

/*  */
footer .grid-container {
    display: grid;
    grid-template-columns: 18rem 18rem 18rem 18rem;
    gap: 4.65%;
    justify-items: center;
    padding: 20px;


}

footer .grid-container {
    text-align: justify;
}

footer nav ul li img {
    width: 200px;
}

footer nav ul li ul {
    display: block;
    text-decoration: none;
}

footer nav ul li ul li {
    text-decoration: none;
    margin: 20px 0 20px 0;
}

footer form {
    width: 100%;
}

/* Style the input elements and the submit button */
footer form input[type=text],
footer form input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
}

/* Add margins to the checkbox */
footer form input[type=checkbox] {
    margin-top: 16px;
}

/* Style the submit button */
footer form input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
}

footer form input[type=submit]:hover {
    opacity: 0.8;
}

footer .navbarfooter p {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

footer .footer-copyright {
    padding: 1rem;
    background-color: #674114;
    width: 100%;
}

/* FIM DO FOOTER*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.servicos-prestados {
    margin: 50px auto;
    width: 1280px;
    text-align: center;

}

.servicos-prestados .servico {
    background-color: #d2d665;
    border-radius: 20px;
    max-height: 100%;
    white-space: nowrap;
}

body h2{
    font-size: 24px;
}

.servicos-prestados .container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 1%;
}

.servicos-prestados .servico img {
    width: 100%;
}

.servicos-prestados .servico h3 {
    width: 100%;
}

.servicos-prestados .servico button {
    margin: 20px auto;
}

label {
    font-size: 1.5em;
}

@media screen and (max-width: 767px) {


    .conteudo1 {
        flex: 1;
        /* Adicione a margem inferior para criar espaço para o footer */
        margin-bottom: 100px;
    }

    .imagens {
        display: flex;
        flex-direction: column;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header nav ul {
        display: none;
        margin-left: 50px;
    }

    header .btn-menu {
        display: block;
        margin-right: 20px;
    }

    #sobre .container {
        display: block;
    }

    #sobre img {
        width: 80%;
        margin: 0 auto;
    }

    #sobre .conteudo {
        margin: 0 auto;
    }

    .servicos-prestados {
        margin-top: 30px;
        width: 100vw;
        margin: 0 auto;
        text-align: center;
    }

    .servicos-prestados .servico {
        background-color: #d2d665;
        border-radius: 20px;
    }

    .servicos-prestados .container {
        display: grid;
        grid-template-columns: auto;
        gap: 2%;
        width: 50%;

    }

    .servicos-prestados .servico img {
        width: 80%;
        margin: 0 auto;

    }

    .servicos-prestados .servico button {
        margin: 30px auto;
    }

    section #faleconosco {
        display: none;
    }

    #contacts .conteudo {
        display: block;
        padding: 25px 200px;
    }

    #contacts .forms {
        padding: 0;
    }


    form textarea {
        resize: none;
        width: 180px;
        height: 100px;
    }

    #contacts {
        display: none;
    }

    footer {
        bottom: 0;
        background-color: #E38B29;
        text-align: center;
        margin-top: auto;
        color: #ffffff;
        margin-top: auto;
    }

    footer .grid-container {
        display: grid;
        grid-template-columns: auto;
        gap: 1%;
        padding: 20px;
        text-align: center;
        justify-items: center;

    }

    footer .grid-container .container-footer img {
        margin: 0 auto;
    }


}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;

    }

    .container {
        width: 90%;
    }


    .botao-menu {
        display: none;
    }

    p, h3 {
        font-size: 1.5em;
    }

    .servicos-prestados {
        width: 100%;
    }

    .servicos-prestados .container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 2%;
        width: 65%;
    }

    #sobre .container {
        display: block;
    }

    #sobre img {
        width: 80%;
        margin: 0 auto;
    }

    #sobre .conteudo {
        margin: 0 auto;
    }

    .imagens {
        display: flex;
        flex-direction: column;
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    nav ul {
        display: none;
        margin-left: 50px;
    }

    #contacts .conteudo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 15px;
    }

    form {
        display: block;
        padding: 50px;
    }

    footer .grid-container {
        font-size: 0.9rem;
        display: grid;
        grid-template-columns: 45% 45%;
        gap: 2%;
        justify-items: center;
        align-items: center;
    }

    footer form {
        border: 4px solid #f1f1f1;
        width: 100%;
    }
}